[submodule "tensorflow"]
	path = research/syntaxnet/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "research/deeplab/datasets/cityscapesScripts"]
	path = research/deeplab/datasets/cityscapesScripts
	url = https://github.com/mbarnes1/cityscapesScripts/
	branch = semantic_background
